<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <div style="width: 700px; margin: 0 auto">
        <h1>Admin</h1>
        <div>
            <h3>Товары
                <a href="/admin/products/create">Добавить новый</a>
                <a href="/admin/products/list">Список</a>
            </h3>

        </div>
        <div>
            <h3>Пользователи
                <a href="/">Добавить новый</a>
                <a href="/">Список</a>
            </h3>
        </div>
    </div>

</body>
</html>