<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div style="width: 700px; margin: 0 auto">
    Название
    <p><%= product.title %></p>
    Вид
    <p><%= product.view %></p>
    Слоган
    <p><%= product.tagline %></p>
    Описание
    <p><%= product.description %></p>
</div>

</body>
</html>